.idea
.vs
.vscode
AppBase.sln.DotSettings.user
global.json
obj
bin
PublishProfiles
/Core/CarinaStudio.AppBase.Core.xml
/Configuration/CarinaStudio.AppBase.Configuration.xml
/Application/CarinaStudio.AppBase.Application.xml
/Application.Android/CarinaStudio.AppBase.Application.Android.xml
/Application.Avalonia/CarinaStudio.AppBase.Application.Avalonia.xml
/AutoUpdate/CarinaStudio.AppBase.AutoUpdate.xml
/Avalonia/CarinaStudio.AppBase.Avalonia.xml
/MacOS/CarinaStudio.AppBase.MacOS.xml
/Tests/CarinaStudio.AppBase.Tests.xml
/Core.Tests/Collections/~$SortedListTests.xlsx
/Packages
*.DS_Store
